#carousel .carousel img{
    width: 100%;
    height: 500px;
    margin: auto;
    text-align: center;
}

#carousel .carousel .carousel-caption{
    background-color: #030303a1;
    color: #ffff;
}

#carousel .carousel .carousel-caption h4{
    font-weight: bold;
}

